<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold" href="#" (click)="exit();">Fol Food</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
          </ul>
          <form class="d-flex">
            <input (keyup.enter)="search()" class="form-control me-2" type="text"
              placeholder="Caesar Salad, Tomato Soup etc." [(ngModel)]="searchQuery" [ngModelOptions]="ngModelOptions">
            <button (click)="search()" class="btn btn-primary me-2" type="button">Search</button>
            <button class="btn btn-primary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
              aria-controls="offcanvasFilter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
              </svg></button>
            <button class="btn btn-success me-2 sidebar-opener" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasCart" aria-controls="offcanvasCart"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
              </svg></button>
          </form>
        </div>
      </div>
    </nav>
    <div class="offcanvas offcanvas-end text-dark" tabindex="-1" id="offcanvasFilter"
      aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="fs-4 fw-bold mt-2">Food Filter</h5>
        <button type="button" class="btn-close text-reset me-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="filterContainer">
          <div class="left-section">
            <h3 class="fs-6 fw-bold">By Category;</h3>
            <div *ngFor="let listItem1 of list1">
              <button (click)="filter1(listItem1.strCategory)" type="button"
                class="list-group-item list-group-item-action">{{ listItem1.strCategory}}</button>
            </div>
          </div>
          <div class="right-section">
            <h3 class="fs-6 fw-bold">By Area;</h3>
            <div *ngFor="let listItem2 of list2">
              <button (click)="filter2(listItem2.strArea)" type="button"
                class="list-group-item list-group-item-action">{{ listItem2.strArea}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="fs-4 fw-bold mt-2">My Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <section class="pt-5 pb-5">
          <div class="container">
            <div class="row w-100">
              <div class="col-lg-12 col-md-12 col-12">
                <p class="mb-5 text-center">
                <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                    <tr>
                      <th style="width:60%">Product</th>
                      <th style="width:10%">Quantity</th>
                      <th style="width:16%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of cartItems; let i = index">
                      <td data-th="Product">
                        <div class="row">
                          <div class="col-md-10 text-left">
                            <img [src]="item.strMealThumb" alt=""
                              class="img-fluid d-none d-md-block rounded mb-2 shadow">
                          </div>
                          <div class="col-md-9 text-left mt-sm-2">
                            <h6>{{ item.strMeal }}</h6>
                          </div>
                        </div>
                      </td>
                      <td data-th="Quantity">
                        <input type="number" class="form-control form-control-sm rounded text-center" value="1">
                      </td>
                      <td class="actions" data-th="">
                        <div class="text-right">
                          <button class="btn btn-white border-secondary bg-white btn-md mb-2"
                            (click)="cartService.removeFromCart(i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-trash" viewBox="0 0 16 16">
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
              <div class="col-sm-6 order-md-2 text-right">
                <a href="catalog.html" class="btn btn-success mb-4 btn-lg pl-5 pr-5">Order</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</header>