<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)" (click)="exit();">Fol Food</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">My Cart</a>
            </li>
          </ul>
          <form class="d-flex">
            <input (keyup.enter)="search()" class="form-control me-2" type="text"
              placeholder="Caesar Salad, Tomato Soup etc." [(ngModel)]="searchQuery" [ngModelOptions]="ngModelOptions">
            <button (click)="search()" class="btn btn-primary me-2" type="button">Search</button>
            <button class="btn btn-primary me-2 sidebar-opener" (click)="sidebarShow = !sidebarShow"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
                viewBox="0 0 16 16">
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
              </svg></button>
          </form>
        </div>
      </div>
    </nav>
    <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
      <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
        X
      </div>
      <div class="sidebar-content bg-dark">
        <h2>Food Filter</h2>
        <div class="filterContainer">
          <div class="left-section">
            <h3>By Category;</h3>
            <div *ngFor="let listItem1 of list1">
              <button (click)="filter1(listItem1.strCategory)" type="button"
                class="list-group-item list-group-item-action">{{ listItem1.strCategory}}</button>
            </div>
          </div>
          <div class="right-section">
            <h3>By Area;</h3>
            <div *ngFor="let listItem2 of list2">
              <button (click)="filter2(listItem2.strArea)" type="button"
                class="list-group-item list-group-item-action">{{ listItem2.strArea}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>