.filterContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section,
.right-section {
    width: 45%;
}

.left-section h3,
.right-section h3 {
    text-align: left;
}

.list-group-item {
    width: 100%;
    margin: 5px 0;
}