<div class="container pt-3">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-12 mb-3" *ngFor="let food of foods">
            <div class="card h-100">
                <img [src]="food.strMealThumb" class="card-img-top" alt="{{ food.strMeal }}">
                <div class="card-body">
                    <h5 class="card-title">{{ food.strMeal }}</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>